body {
    margin-left: 50px;
    margin-top: 50px;

}

header {
    line-height: 100px;
    white-space: nowrap;
    background-color: lightsteelblue;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
    width: 1000px;
    
}

.hi {
    color:blue;
}

#main-container {
    display: flex;
    width: 1008px;
    border: 1px solid red;
}

#left {
    width: 300px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: #F4F4F4;
}

.headers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
}

.main-add-btn {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-top: 13px;
    background-color: white;
}

#right .main-add-btn {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-top: 13px;
    margin-left: 540px;
}