body {
    margin-left: 50px;
    margin-top: 50px;

}

header {
    line-height: 100px;
    white-space: nowrap;
    background-color: lightsteelblue;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
    width: 1000px;
}

.hi {
    color:blue;
}

#main-container {
    display: flex;
    width: 1008px;
    border: 1px solid red;
}

#left {
    width: 300px;
    
    padding-left: 10px;
    display: flex;
    /* align-items: flex-end; */
}

#right {
    
    padding-left: 10px;
    display: flex;
}

.main-add-btn {
    margin-left: 160px;
    height: 40px;
    width: 40px;
    border-radius: 70px;
    
}

#right > .main-add-btn {
    margin-left: 570px;
    height: 40px;
    width: 40px;
    border-radius: 70px;
    ;
}